<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700;9..40,900&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/img/favicon/site.webmanifest">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script src="/static/js/javascript.js" defer></script>
</head>

<body>
  <header>
    <a href="/"><img src="/static/img/logo_yellow.svg" class="logo"></a>
  </header>

  <div class="search-container">
    <form method="POST" action="/search">
      <div class="search-wrapper">
        <input type="text" name="title" placeholder="Search Movies & TV" class="search-field" required>
        <button type="button" class="clear-button">&times;</button>
      </div>
    </form>
  </div>
  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <!-- Footer content -->
    <p>© 2023 ReelRatingsDb</p>
    <p>This application is for demonstration purposes only and is not intended for commercial use. It utilizes data from the TMDb API and various third-party sources, but is not endorsed or certified by TMDb or any of the third-parties. All product and company names are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
  </footer>
</body>
</html>