<!-- templates/search.html -->
{% extends 'base.html' %}

{% block title %}
Search Results
{% endblock title %}

{% block content %}
<div class="search-list-container" id="results">
  {% if search_results %}
  <ul>
    {% for item in search_results %}
    <li class="search-result-item">
      <a href="/details/{{ item.tmdb_id }}/{{ item.media_type }}" class="search-result-item-link">
        <div class="search-result-wrapper">
          <img src="{{ item.poster_img }}" alt="{{ item.title }}" class="poster-image">
          <div class="title-details-wrapper">
            <h3>{{ item.title }}</h3>
            {% if item.year %}
            <p>{{ item.year }}</p>
            {% endif %}
            <p>{{ item.media_type }}</p>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% elif not search_results %}
  <p class="error-message">Bummer, no matches for that title. Check the spelling and try again.</p>
  {% endif %}
</div>

<div id="loading" style="display: none">
  <div class="empty-state-details-container">
    <div class="empty-state-poster"></div>
    <div class="empty-state-details-wrapper">
      <div class="empty-state-info"></div>
      <div class="empty-state-info"></div>
      <div class="empty-state-info"></div>
    </div>    
  </div>
  <div class="empty-state-card">
  </div>
  <div class="empty-state-card">
  </div>  
  <div class="empty-state-card">
  </div>  
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const clickableResults = document.querySelectorAll('.search-result-item-link');

    clickableResults.forEach(function (element) {
      element.addEventListener('click', function () {
        // Set the session storage item to indicate loading state
        sessionStorage.setItem('displayState', 'loading');
        
        // Hide results and show loading animation
        document.getElementById("results").style.display = "none";
        document.getElementById("loading").style.display = "block";
      });
    });
  });

  window.addEventListener('pageshow', function(event) {
    const displayState = sessionStorage.getItem('displayState');
    
    if (displayState === 'loading') {
      // Show results and hide loading animation
      document.getElementById("results").style.display = "block";
      document.getElementById("loading").style.display = "none";
      
      // Clear the stored state
      sessionStorage.removeItem('displayState');
    }
  });

</script>
{% endblock content %}